Dockerfile
.git
README.md
dcos_generate_config*.sh
examples
configs
genconf/config.yaml
distros
genconf/serve/
.vagrant/
Vagrantfile
provision
plugins
dcos-genconf.*.tar
*.ova
packer_cache
*.box
output-virtualbox-ovf
